# === Spring Boot Backend ===
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
**/application.properties
**/application.yml

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# === React Frontend ===
url-shorten-app-frontend/node_modules/
url-shorten-app-frontend/build/
url-shorten-app-frontend/coverage/
url-shorten-app-frontend/.env.local
url-shorten-app-frontend/.env.development.local
url-shorten-app-frontend/.env.test.local
url-shorten-app-frontend/.env.production.local
url-shorten-app-frontend/npm-debug.log*
url-shorten-app-frontend/yarn-debug.log*
url-shorten-app-frontend/yarn-error.log*
.DS_Store
